<!DOCTYPE html>
<h1>Homepage</h1>

<html>
  <body>
    <a href="Students">Link  to Students</a>
    <a href="BehaviorIncidents">Link  to Behavior Incidents</a>
    <a href="Interventions">Link  to Interventions</a>
    <a href="InterventionProgress">Link  to Intervention Progress</a>
    <a href="Parents">Link  to Parents</a>
    <a href="StudentsIntervention">Link  to Students Interventions</a>
    <a href="StudentsParents">Link  to Students Parents</a>
    <a href="StudentsTeachers">Link  to Students Teachers</a>
    <a href="StudentsTests">Link  to Students Tests</a>
    <a href="Teachers">Link  to Teachers</a>
    <a href="Tests">Link  to Tests</a>
    <a href="TestScores">Link  to Test Scores</a>
  </body>
</html>